<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableViewCell编辑.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>UIApplication作用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>UITableView知识点.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>UIView的生命周期.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>项目配置文件.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04344EE71F8FAE250089F44B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04B8CC981F904F49002FCFE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F039EC1F8D001200DBD70D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F03A0A1F8D00BC00DBD70D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F08D34571F8DC53700AE44F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F08D34741F8DC6EB00AE44F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
